

NET "LCD_E" LOC = M18;
NET "LCD_RS" LOC = L18;
NET "LCD_RW" LOC = L17;
NET "SF_D8" LOC = R15;
NET "SF_D9" LOC = R16;
NET "SF_D10" LOC = P17;
NET "SF_D11" LOC = M15;

NET "clk" LOC = C9;
NET "clk" PERIOD = 20 ns HIGH 50 %;

NET "reset" LOC = D18;

# PlanAhead Generated physical constraints
